<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>緊急速報画面</title>
<link href="style.css" rel="stylesheet" type="text/css">
<style type="text/css">
img.ex1 {
width: 96px;
height: 65px;
}
img.ex2 {
width: 70%;
height: 70%;
}
</style>
<!--
<script type="text/javascript">
window.onload = function() {
	//WebSocket
	socket = new WebSocket("ws://192.168.0.4:10083");
	socket.onmessage = function(event) {
	document.getElementById('news').innerHTML = event.data;
	}
}
</script>
-->
<script src="main.js" type="text/javascript"></script> 
</head>

<body>
<form name="form1">
<div id="out"><!-- 外周 -->
<div id="head">
<h1>緊急速報画面-呼び出し</h1>
</div><!-- head -->

<div id="main">

	<div id="right"><!-- 本文 -->
	<h2>緊急速報-呼び出し</h2>
        <!--<iframe  scrolling="no" frameborder="no" src="./aaa.html" width="400px" height="350px"></iframe>-->
        <select name="select" class="bsize" id="selBox0" onChange="getSelect(0,this.value)">
        <option value="Shinagawa">品川区</option>
        <option value="Minato">港区</option>
        <option value="Tyuou">中央区</option>
        </select>
        <button type="button" name="jump" value="jump" onclick="location.href='/alert'">緊急速報</button>
       

	</div><!-- right -->


<br style="clear:both">
</div><!-- main -->


<div id="foot">
</div><!-- foot -->
</div><!-- out -->
</form>
</body>
</html>
